 footer{
            	position: fixed;
            	bottom: 0rem;
            	right: 0rem;
            	background: #f5f5f5;
            	text-align: right;
            	width:6.4rem;
            	height:0.8rem;
            }
            footer .btn{
            	position: absolute;
            	bottom:0rem;
            	right:0rem;
            	/*top:-0.56rem;*/
            	background: #2a3e6c;
            	border: none;
            	color:#ecedf0;
            	width:1.8rem;
            	height:0.8rem;
            	font-size:0.24rem ;
            }